<ul class="pagination">
    <li *ngFor="let page of paginationItems(); let i = index">
        <button 
            className="pagination-item"
            [class.active]="pageParam === (page + 1) || (!pageParam && (page + 1) === 1)"
            type="button" 
            (click)="paginate((page + 1).toString())"
        >
            {{page + 1}}
        </button>
    </li>
    <li>
        <button class="pagination-item previous" type="button" (click)="paginate((pageParam - 1).toString())">
            <img class="left" src="assets/arrow.svg">
        </button>
    </li>
    <li>
        <button class="pagination-item next" type="button" (click)="paginate((pageParam + 1).toString())">
            <img class="right" src="assets/arrow.svg">
        </button>
    </li>
</ul>